$color-blue: #2CBDFF;
$color-blue-hover: #60c6f5;
$color-blue-text: #101014;
$color-white: #fff;
$color-white65: rgba(255, 255, 255, .65);
$color-white35: rgba(255, 255, 255, .35);
$color-white15: rgba(255, 255, 255, .15);
$color-white5: rgba(255, 255, 255, .05);
$color-black: #000;
$color-content: rgb(219, 222, 227);
$color-step-bg: #202024;
$color-step-num: rgb(219, 222, 227);
$color-step-active: #B164E2;
$color-step-title: rgb(182, 101, 233);