/** // @charset "UTF-8";
@import "./global.scss";
// @import "../fonts/iconfont.css"; **/

@font-face {
  font-family: Inter;
  font-display: swap;
  font-weight: 300;
  src: local("Inter Light"),local("Inter-Light"),url(../fonts/Inter-Light.woff2) format("woff");
}

@font-face {
  font-family: Inter;
  font-display: swap;
  font-weight: 400;
  src: local("Inter Regular"),local("Inter-Regular"),url(../fonts/Inter-Regular.woff2) format("woff");
}

@font-face {
  font-family: Inter;
  font-display: swap;
  font-weight: 500;
  src: local("Inter Medium"),local("Inter-Medium"),url(../fonts/Inter-Medium.woff2) format("woff");
}

@font-face {
  font-family: Inter;
  font-display: swap;
  font-weight: 700;
  src: local("Inter Bold"),local("Inter-Bold"),url(../fonts/Inter-Bold.woff2) format("woff");
}

@font-face {
  font-family: Inter Tight;
  font-display: swap;
  font-weight: 700;
  src: local("Inter Tight Bold"),local("InterTight-Bold"),url(../fonts/InterTight-Bold.woff2) format("woff");
}

@font-face {
  font-family: Inter Tight;
  font-display: swap;
  font-weight: 900;
  src: local("Inter Tight Black"),local("InterTight-Black"),url(../fonts/InterTight-Black.woff2) format("woff");
}
* {
  font-size: 12px;
	font-family: Inter, sans-serif;
}
html, body {
	margin: 0;
	padding: 0;
	background: #fff;
	height: 100%;
}


textarea{
	outline:none;
	resize:none;
}
input {
	outline: none;
}
input[type="checkbox"], input[type="radio"] {
	vertical-align: sub;
}
input[type="text"], input[type="email"], input[type="date"], input[type="password"], input[type="tel"] {
	padding: 0 5px;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 400px #fff inset;
}
a {
	color: #000;
}
a:hover {
	text-decoration: none;
}
a:link {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
ul, li, p {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#app {
	height: 100%;
}
